<div class="starter-template">
  <h1>Bootstrap starter template</h1>
  <a class="btn btn-primary" routerLink="/users">users</a>
  <p class="lead">
    Use this document as a way to quickly start any new project.<br />
    All you get is this text and a mostly barebones HTML document.
  </p>
  <h3>Info</h3>
  <p>
    This app is running in <strong>'{{ runningMode }}'</strong> mode. <br />
    Environment API URL: <strong>'{{ apiUrl }}'</strong>.<br />
    Version: <strong>{{ version }}</strong>
  </p>
</div>
