<p>bookclub-register-readalong works!</p>
<form
  #bookclubEditForm="ngForm"
  name="form"
  (ngSubmit)="bookclubEditForm.form.valid && onSubmit()"
  novalidate
>
  <div class="form-row">
    <div class="form-group col-sm-12 col-lg-4">
      <label for="book">Readalong:</label>
      <select class="custom-select" id="readalong" name="boek" [(ngModel)]="readalongId" #boek="ngModel" required>
        <option selected>kies een readalong...</option>
        <option *ngFor="let readalong of readalongs" [value]="readalong._id">{{ readalong.naam }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-auto">
      <button type="submit" class="btn btn-success" [disabled]="!bookclubEditForm.valid">sla op</button>
      <button type="button" class="btn btn-outline-warning ml-2" routerLink="..">annuleer</button>
    </div>
  </div>
</form>
