<div *ngIf="user?.user_id">
  <p style="color: white; display: inline-block; margin-right: 10px">welcome {{ user?.gebruikersnaam }}</p>
  <a id="logout" class="btn btn-primary" (click)="logout()">uitloggen</a>
</div>
<div *ngIf="!user?.user_id">
  <a class="btn btn-primary" rotuerLink="/Login">inloggen</a>
</div>
