<form
  #bookclubEditForm="ngForm"
  name="form"
  (ngSubmit)="bookclubEditForm.form.valid && onSubmit()"
  novalidate
>
  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="naam">Naam: </label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="bookclub.naam"
        name="naam"
        #naam="ngModel"
        [ngClass]="{
          'is-invalid': naam.invalid
        }"
        required
        minlength="2"
      />
      <div *ngIf="naam.invalid && naam.touched" class="invalid-feedback">
        <div *ngIf="naam.errors?.required">Naam is verplicht!</div>
        <div *ngIf="naam.errors?.minlength">Naam moet te minste 2 letters lang zijn!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12 col-lg-4">
      <label for="book">Boek:</label>
      <select
        class="custom-select"
        id="book"
        name="boek"
        [(ngModel)]="bookclub.favBoekId"
        #boek="ngModel"
        required
      >
        <option selected>kies een boek...</option>
        <option *ngFor="let book of books" [value]="book._id">{{ book.titel }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="hoofdGenre">hoofd genre: </label>
      <select
        class="custom-select"
        id="genre"
        [(ngModel)]="bookclub.hoofdGenre"
        name="genre"
        #genre="ngModel"
        required
      >
        <option selected>Keis een genre...</option>
        <option *ngFor="let name of genreEnumKeys" [value]="name">{{ name }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-auto">
      <button type="submit" class="btn btn-success" [disabled]="!bookclubEditForm.valid">save</button>
      <button type="button" class="btn btn-outline-warning ml-2" routerLink="..">cancel</button>
    </div>
  </div>
</form>
