<a *ngIf="authService.adminMayEdit()" class="btn btn-primary" routerLink="new">new</a>

<table>
  <thead>
    <th>gebruikersnaam</th>
    <th>Naam</th>
    <th>Email</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.gebruikersnaam }}</td>
      <td>{{ user.naam }}</td>
      <td>{{ user.email }}</td>
      <a class="btn btn-primary" routerLink="{{ user.user_id }}">info</a>
    </tr>
  </tbody>
</table>
