<div class="row">
  <div class="col-lg-9 col-md-8">
    <a *ngIf="authService.userMayEdit(userId)" class="btn btn-primary m-1" routerLink="edit">edit</a>
    <a
      *ngIf="authService.userMayEdit(userId)"
      class="btn btn-danger m-1"
      (click)="removeBookclub(bookclub._id)"
      >verwijder</a
    >

    <h2>{{ bookclub?.naam }}</h2>
    <h5>hoofd: {{ bookclub?.hoofd?.naam }}</h5>

    <p>hoofdgenre: {{ bookclub?.hoofdGenre }}</p>
    <p>favoriete boek: {{ bookclub?.favorieteBoek?.titel }}</p>

    <div class="row">
      <div class="col-md-6 text-center">
        <h5 class="text-primary">readalongs</h5>
        <a class="btn btn-outline-info" (click)="registerReadalong()">voeg readalong toe</a>
        <table>
          <tbody>
            <tr *ngFor="let readalong of readalongs">
              <td>{{ readalong.naam }}</td>
              <td><a class="btn btn-info" routerLink="/readalongs/{{ readalong._id }}">meer info</a></td>
              <td><a class="btn btn-outline-danger" (click)="unregisterReadalong(readalong._id)">x</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6 text-center">
        <h5 class="text-primary">aan te randen boeken</h5>
        <a class="btn btn-outline-info" (click)="registerBook()">raad boek aan</a>
        <table>
          <tbody>
            <tr *ngFor="let book of books">
              <td>{{ book.titel }}</td>
              <td><a class="btn btn-info" routerLink="/books/{{ book._id }}">meer info</a></td>
              <td><a class="btn btn-outline-danger" (click)="unregisterBook(book._id)">x</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <a class="btn btn-outline-primary m-1" routerLink="..">terug</a>
    <p>id: {{ bookclub?._id }}</p>
  </div>

  <div class="border-left col-lg-3 col-md-4 text-center">
    <h5>leden</h5>
    <a class="btn btn-outline-info" (click)="registerMember()">deelnemen</a>
    <table>
      <tbody>
        <tr *ngFor="let user of members">
          <td>{{ user.naam }}</td>
          <td><a class="btn btn-info" routerLink="/users/{{ user.user_id }}">bekijk profiel</a></td>
          <td *ngIf="isUserRegisterd(user.user_id)">
            <a class="btn btn-outline-danger" (click)="unregisterMember()">x</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
