<div class="row">
  <div class="col-md-8 col-lg-9">
    <h4>{{ readalong?.naam }}</h4>
    <h5>Boek: {{ readalong?.boek?.titel }}</h5>
    <p>{{ readalong?.startDatum | date }} - eind datum: {{ readalong?.eindDatum | date }}</p>
    <p>accessability: {{ readalong?.readalongType }}</p>
    <p>door: {{ user?.gebruikersnaam }}</p>

    <a *ngIf="authService.userMayEdit(userId)" class="btn btn-primary m-1" routerLink="edit">edit</a>
    <a
      *ngIf="authService.userMayEdit(userId)"
      class="btn btn-danger m-1"
      (click)="removeReadalong(readalong._id)"
      >verwijder</a
    >
    <a class="btn btn-outline-primary m-1" routerLink="..">terug</a>
  </div>

  <div class="text-center col-md-4 col-lg-3 border-left">
    <h5>deelnemers</h5>
    <a class="btn btn-outline-info" (click)="registerReadalong()">deelnemen</a>
    <p>minimum deelnemers: {{ readalong?.minimumDeelnemers }}</p>
    <table>
      <tbody>
        <tr *ngFor="let reader of readers">
          <td>{{ reader.naam }}</td>
          <td><a class="btn btn-info" routerLink="/users/{{ reader.user_id }}">bekijk profiel</a></td>
          <td *ngIf="isUserRegisterd(reader.user_id)">
            <a (click)="unregisterReadalong()" class="btn btn-outline-danger">x</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
