<form #bookEditForm="ngForm" name="form" (ngSubmit)="bookEditForm.form.valid && onSubmit()" novalidate>
  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="titel">Titel:</label>
      <input
      id="titel"
        type="text"
        class="form-control"
        [(ngModel)]="book.titel"
        name="titel"
        #titel="ngModel"
        [ngClass]="{
          'is-invalid': titel.invalid
        }"
        required
        minlength="2"
      />
      <div *ngIf="titel.invalid && titel.touched" class="invalid-feedback">
        <div *ngIf="titel.errors?.required">titel is verplicht!</div>
        <div *ngIf="titel.errors?.minlength">titel moet te minste 2 letters lang zijn!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="autheur">Autheur: </label>
      <input
      id="auth"
        type="text"
        class="form-control"
        [(ngModel)]="book.autheur"
        name="Autheur"
        #autheur="ngModel"
        [ngClass]="{
          'is-invalid': autheur.invalid
        }"
        required
        minlength="2"
      />
      <div *ngIf="autheur.invalid && autheur.touched" class="invalid-feedback">
        <div *ngIf="autheur.errors?.required">autheur is verplicht!</div>
        <div *ngIf="autheur.errors?.minlength">autheur moet te minste 2 letters lang zijn!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="isbn">Isbn: </label>
      <input
      id="isbn"
        type="number"
        class="form-control"
        [(ngModel)]="book.isbn"
        name="isbn"
        #isbn="ngModel"
        [ngClass]="{
          'is-invalid': isbn.invalid
        }"
        required
      />
      <div *ngIf="isbn.invalid && isbn.touched" class="invalid-feedback">
        <div *ngIf="isbn.errors?.required">isbn is verplicht!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="eersteUitgave">Eerste Uitgave: </label>
      <input
      id="date"
        type="date"
        class="form-control"
        [(ngModel)]="book.eersteUitgave"
        name="eersteUitgave"
        #eersteUitgave="ngModel"
        [ngClass]="{
          'is-invalid': eersteUitgave.invalid
        }"
        required
      />
      <div *ngIf="eersteUitgave.invalid && eersteUitgave.touched" class="invalid-feedback">
        <div *ngIf="eersteUitgave.errors?.required">Eerste Uitgave is verplicht!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="paginas">Aantal pagina's: </label>
      <input
      id="page"
        type="number"
        class="form-control"
        [(ngModel)]="book.paginas"
        name="paginas"
        #paginas="ngModel"
        [ngClass]="{
          'is-invalid': paginas.invalid
        }"
        required
      />
      <div *ngIf="paginas.invalid && paginas.touched" class="invalid-feedback">
        <div *ngIf="paginas.errors?.required">Aantal pagina's is verplicht!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="genre">Genre: </label>
      <select
        class="custom-select"
        id="genre"
        [(ngModel)]="book.genre"
        name="genre"
        #genre="ngModel"
        required
      >
        <option selected>Keis een genre...</option>
        <option id="genre-select" *ngFor="let name of genreEnumKeys" [value]="name">{{ name }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-auto">
      <button id="sub" type="submit" class="btn btn-success" [disabled]="!bookEditForm.valid">save</button>
      <button type="button" class="btn btn-outline-warning ml-2" routerLink="..">cancel</button>
    </div>
  </div>
</form>
