<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-10">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Boekclub Boekhouder</h3>
    <p>
      Boekclub Boekhouser is een boekclub management applicatie waarbij gebruikers (users) in kunnen loggen om
      zich bij een boekclub te voegen, deenlnemen aan readalongs (meelees sessies) en boeken opgeven. Users
      naast aanmelden, ook zelf een boekclub oprichten. Oprichters van de boekclub hebben de rechten om deze
      aan te passen of volldig te verwijderen. Gebruikers hebben ook de mogelijkheid om readalongs aan te
      maken en aan een boekclub toe te voegen. Gebruikers die de readalong hebben aangemaakt hebben de rechten
      om deze aan te passen of te verwijderen. De applicatie bevat een user wat binnen bepaalde maten de
      entiteiten kunnen aanpassen, toevoegen of verwijderen. Binnen de applicatie bestaat er een speciale user
      (administrator) kan alle entiteitn aanpassen en verwijderen. De Entiteiten van de boek club zijn: Boek,
      Readalong en BoekClub. De entiteiten en atributen en worden hieronder beschreven.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/face.jpg" class="card-img-top rounded-circle border profile-pic" alt="..." />
      </div>
      <div class="card-body">
        <h5 class="card-title">Anastasia Hellemons</h5>
        <p class="card-text">Studentnummer: 2122681</p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <p>Boek</p>
    <ul>
      <li>titel: string</li>
      <li>id: number</li>
      <li>autheur: string</li>
      <li>isbn: number</li>
      <li>eersteUitgave: date</li>
      <li>paginas: number</li>
      <li>genre: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Readalong</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>startDatum: date</li>
      <li>eindDatum: date</li>
      <li>type: Type</li>
      <li>minimumDeelnemers: number</li>
      <li>boek: boek</li>
      <li>deelnemers: array(user)</li>
      <li>voldoeneDeelnemers: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Boekclub</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>hoofd: user</li>
      <li>favorieteBoek: boek</li>
      <li>hoofdGenre: string</li>
      <li>readalongs: array(readalong)</li>
      <li>aanTeRadenBoeken: array(boek)</li>
      <li>leden: array(user)</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>User</p>
    <ul>
      <li>id: number</li>
      <li>naam: string</li>
      <li>gebruikersnaam: string</li>
      <li>wachtwoord: string</li>
      <li>email: string</li>
      <li>role: UserRole</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <img src="assets/images/datamodel.png" alt="..." />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
