<form
  #bookclubEditForm="ngForm"
  name="form"
  (ngSubmit)="bookclubEditForm.form.valid && onSubmit()"
  novalidate
>
  <div class="form-row">
    <div class="form-group col-sm-12 col-lg-4">
      <label for="book">Boek:</label>
      <select class="custom-select" id="book" name="boek" [(ngModel)]="bookId" #boek="ngModel" required>
        <option selected>kies een boek...</option>
        <option *ngFor="let book of books" [value]="book._id">{{ book.titel }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-auto">
      <button type="submit" class="btn btn-success" [disabled]="!bookclubEditForm.valid">sla op</button>
      <button type="button" class="btn btn-outline-warning ml-2" routerLink="..">annuleer</button>
    </div>
  </div>
</form>