<a href="#" class="btn btn-primary" routerLink="new">new</a>

<table>
  <thead>
    <th>naam</th>
    <th>boek</th>
    <th>start datum</th>
    <th>eind datum</th>
  </thead>
  <tbody>
    <tr *ngFor="let readalong of readalongs">
      <td>{{ readalong?.naam }}</td>
      <td>{{ readalong?.boek?.titel }}</td>
      <td>{{ readalong?.startDatum | date }}</td>
      <td>{{ readalong?.eindDatum | date }}</td>
      <a class="btn btn-primary ml-2" routerLink="{{ readalong._id }}">info</a>
    </tr>
  </tbody>
</table>
