<h3>{{ book?.titel }} - {{ book?.autheur }}</h3>
<h5>{{ book?.genre }}</h5>
<p>{{ book?.paginas }} paginas</p>
<p>uitgave: {{ book?.eersteUitgave | date }}</p>
<p>ISBN {{ book?.isbn }}</p>
<p>door: {{ user?.gebruikersnaam }}</p>
<br />
<a *ngIf="authService.userMayEdit(userId)" class="btn btn-primary m-1" routerLink="edit"
  >edit</a
>
<button id="del"
  *ngIf="authService.userMayEdit(userId)"
  class="btn btn-danger m-1"
  (click)="removeBook()"
  >verwijder</button
>
<a class="btn btn-outline-primary m-1" routerLink="..">terug</a>
