<form
  #readalongEditForm="ngForm"
  name="form"
  (ngSubmit)="readalongEditForm.form.valid && onSubmit()"
  novalidate
>
  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="naam">Naam:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="readalong.naam"
        name="naam"
        #naam="ngModel"
        [ngClass]="{
          'is-invalid': naam.invalid
        }"
        required
        minlength="2"
      />
      <div *ngIf="naam.invalid && naam.touched" class="invalid-feedback">
        <div *ngIf="naam.errors?.required">Naam is verplicht!</div>
        <div *ngIf="naam.errors?.minlength">Naam moet te minste 2 letters lang zijn!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="from-group col-md-12 col-lg-4">
      <label for="start">Start datum:</label>
      <input
        type="date"
        class="form-contorl"
        [(ngModel)]="readalong.startDatum"
        name="start"
        #start="ngModel"
        [ngClass]="{
          'is-invalid': start.invalid
        }"
        required
      />
      <div *ngIf="start.invalid && start.touched" class="invalid-feedback">
        <div *ngIf="start.errors?.required">Start datum is verplicht!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="from-group col-md-12 col-lg-4">
      <label for="eind">eind datum:</label>
      <input
        type="date"
        class="form-contorl"
        [(ngModel)]="readalong.eindDatum"
        name="eind"
        #eind="ngModel"
        [ngClass]="{
          'is-invalid': eind.invalid
        }"
        required
      />
      <div *ngIf="eind.invalid && eind.touched" class="invalid-feedback">
        <div *ngIf="eind.errors?.required">Eind datum is verplicht!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="from-group col-md-12 col-lg-4">
      <label for="minimum">Minimum aantal deelneemers:</label>
      <input
        type="number"
        class="form-contorl"
        [(ngModel)]="readalong.minimumDeelnemers"
        name="minimum"
        #minimum="ngModel"
        [ngClass]="{
          'is-invalid': minimum.invalid
        }"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12 col-lg-4">
      <label for="book">Boek:</label>
      <select
        class="custom-select"
        id="book"
        name="boek"
        [(ngModel)]="readalong.boekId"
        #boek="ngModel"
        required
      >
        <option selected>kies een boek...</option>
        <option *ngFor="let book of books" [value]="book._id">{{ book.titel }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12 col-lg-4">
      <label for="type">Type:</label>
      <select
        class="custom-select"
        id="type"
        name="type"
        [(ngModel)]="readalong.readalongType"
        #type="ngModel"
        required
      >
        <option selected>kies een type...</option>
        <option *ngFor="let name of enumKeys" [value]="name">{{ name }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-auto">
      <button type="submit" class="btn btn-success" [disabled]="!readalongEditForm.valid">save</button>
      <button type="button" class="btn btn-outline-warning ml-2" routerLink="..">cancel</button>
    </div>
  </div>
</form>
