<form #userEditForm="ngForm" name="form" (ngSubmit)="userEditForm.form.valid && onSubmit()" novalidate>
  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="naam">Naam:</label>
      <input id="naam"
        type="text"
        class="form-control"
        [(ngModel)]="user.naam"
        name="naam"
        #naam="ngModel"
        [ngClass]="{
          'is-invalid': naam.invalid
        }"
        required
        minlength="2"
      />
      <div *ngIf="naam.invalid && naam.touched" class="invalid-feedback">
        <div *ngIf="naam.errors?.required">naam is verplicht!</div>
        <div *ngIf="naam.errors?.minlength">naam moet te minste 2 letters lang zijn!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="gebruikersnaam">Gebruikersnaam:</label>
      <input id="user"
        type="text"
        class="form-control"
        [(ngModel)]="user.gebruikersnaam"
        name="gebruikersnaam"
        #gebruikersnaam="ngModel"
        [ngClass]="{
          'is-invalid': gebruikersnaam.invalid
        }"
        required
        minlength="2"
      />
      <div *ngIf="gebruikersnaam.invalid && gebruikersnaam.touched" class="invalid-feedback">
        <div *ngIf="gebruikersnaam.errors?.required">gebruikersnaam is verplicht!</div>
        <div *ngIf="gebruikersnaam.errors?.minlength">gebruikersnaam moet te minste 2 letters lang zijn!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="wachtwoord">Wachtwoord:</label>
      <input id="pass"
        type="password"
        class="form-control"
        [(ngModel)]="user.wachtwoord"
        name="wachtwoord"
        #wachtwoord="ngModel"
        [ngClass]="{
          'is-invalid': wachtwoord.invalid
        }"
        required
        minlength="8"
      />
      <div *ngIf="wachtwoord.invalid && wachtwoord.touched" class="invalid-feedback">
        <div *ngIf="wachtwoord.errors?.required">wachtwoord is verplicht!</div>
        <div *ngIf="wachtwoord.errors?.minlength">wachtwoord moet te minste 8 letters lang zijn!</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 col-lg-4">
      <label for="email">Email:</label>
      <input id="email"
        type="email"
        class="form-control"
        [(ngModel)]="user.email"
        name="email"
        #email="ngModel"
        [ngClass]="{
          'is-invalid': email.invalid
        }"
        required
      />
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
        <div *ngIf="email.errors?.required"></div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-auto">
      <button id="reg" type="submit" class="btn btn-success" [disabled]="!userEditForm.valid">save</button>
      <button type="button" class="btn btn-outline-warning ml-2" routerLink="..">cancel</button>
    </div>
  </div>
</form>
