<a id="new" class="btn btn-primary" routerLink="new">new</a>

<table>
  <thead>
    <th>titel</th>
    <th>autheur</th>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td id="title">{{ book.titel }}</td>
      <td id="auther">
        <p class="ml-2">{{ book.autheur }}</p>
      </td>
      <td>
        <a id="info" class="btn btn-primary ml-2" routerLink="{{ book._id }}">info</a>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
