<div class="text-center">
  <h2 class="text-center">{{ user?.naam }}</h2>
  <p>{{ user?.gebruikersnaam }} - {{ user?.role }}</p>
  <p>contact: {{ user?.email }}</p>
  <br />
  <a *ngIf="authService.userMayEdit(userId)" class="btn btn-primary m-1" routerLink="edit">edit</a>
  <a class="btn btn-outline-primary m-1" routerLink="..">terug</a>
</div>
