<a class="btn btn-primary" routerLink="new">new</a>

<table>
  <thead>
    <th>naam</th>
    <th>favboek</th>
    <th>hoofdgenre</th>
  </thead>
  <tbody>
    <tr *ngFor="let bookclub of bookclubs">
      <td>{{ bookclub.naam }}</td>
      <td>{{ bookclub.favorieteBoek.titel }}</td>
      <td>{{ bookclub.hoofdGenre }}</td>
      <a class="btn btn-primary ml-2" routerLink="{{ bookclub._id }}">info</a>
    </tr>
  </tbody>
</table>
